<html>
    <head>
        <link rel="icon" href="favicon.png"/>
        <title>Register</title>
    </head>

    <body>
        <img src="logo-text-128px.png"/>
        <form onsubmit="form_onSubmit(event)">
            <h1>Register</h1>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required/>
            <label for="password">Password</label>
            <input type="password"
                id="password"
                name="password"
                required
                pattern="<%=PASSWORD_PATTERN%>"
                title="<%=PASSWORD_TITLE%>"/>
            <input type="submit"/>
            <h6>Already have an account? <a id="login-link">Login</a></h6>
        </form>
    </body>

<style>
:root {
    font-family: sans-serif;
}

img {
    height: 64px;
    margin-bottom: 1em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translateY(-4rem);
}

form {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    padding: 1.5em;
    border-radius: 0.5em;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

a {
    color: hsl(200, 100%, 60%);
}

input:not(:last-child) {
    margin-bottom: 1.5em;
}

input[type=submit] {
    font-size: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
</style>

<script>
const redirect_url =
    new URLSearchParams(window.location.search)
    .get("redirect_url");

let login_link = document.getElementById("login-link");
login_link.href = `login?redirect_url=${encodeURIComponent(redirect_url)}`;

function form_onSubmit(event) {
    let data = new FormData(event.target);
    fetch("/register", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: data.get("email"),
            password: data.get("password")
        })
    })
    .catch(err => console.error(err))
    .then(res => res.json())
    .then(tokens => {
        window.location = `${redirect_url}?id_token=${tokens.id_token}&refresh_token=${tokens.refresh_token}`;
    });
    event.preventDefault();
    return false;
}
</script>
</html>

